<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8" />
  <title>Redis Monitor</title>
  <link rel="stylesheet" type="text/css" href="/public/res/css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="Keywords" content="redis monitor, python web, flask redis" />
  <meta name="Description" content="Redis Monitor: a python flask redis monitor project." />
  <link rel="shortcut icon" href="/public/res/img/favicon.png" />
  <link rel="bookmark" href="/public/res/img/favicon.png" />
  <style type="text/css">
	 #new_port {width: 70px;}
	 #new_host, #new_password, #new_email {width: 110px;}
  </style>
</head>
<body id="body_content">
    <div id="wrapper">
    </div>
    <script type="text/javascript" src="/public/dist/redis-monitor.bundle.js"></script>

</body>
</html>